<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333299554497-bt52lrr0bs8fakf7179ec2f2ar07airq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333299554497-bt52lrr0bs8fakf7179ec2f2ar07airq</string>
	<key>API_KEY</key>
	<string>AIzaSyCf93XirRqk-Qtn5omTuw1LzEp6CcGLR_c</string>
	<key>GCM_SENDER_ID</key>
	<string>333299554497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hnagri.github.io.speaknow</string>
	<key>PROJECT_ID</key>
	<string>speaknow-96282</string>
	<key>STORAGE_BUCKET</key>
	<string>speaknow-96282.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333299554497:ios:2f03eb307fe44d60165c40</string>
	<key>DATABASE_URL</key>
	<string>https://speaknow-96282.firebaseio.com</string>
</dict>
</plist>